@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Fjalla+One&display=swap');


* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Fjalla One', sans-serif;
}

body {
    background: url(court.jpg);
    background-position: center;
}

.header {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.display-result {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2px;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button {
    font-family: 'Balsamiq Sans', cursive;
    margin: auto;
    padding: 10px;
    font-size: 34px;
    border-radius: 25px;
    border-color: ghostwhite;
}

.rps-buttons {
    display: flex;
    justify-content: center;
    align-content: center;

}

button:hover{
    color: red
}
